@import "../styles/variables";

.top-nav {
  display: flex;
  background-color: $darkblue;
  padding: ($gap / 2) $gap;
  justify-content: space-between;
  align-items: center;

  img {height: 30px;}

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;

    li {
      margin-left: $gap;

      &.active {
        border-bottom: $border-light solid $lightblue;
      }

      a {
        color: $lightblue;
        text-decoration: none;
      }
    }
  }
}
