@import "styles/variables";

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: $weight-normal;
  color: $main-font-color;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  color: $main-font-color;
  font-weight: $weight-bold;
  margin-bottom: ($gap / 4);
}

a, p, small {
  color: $secondary-font-color;
}

.container {
  display: flex;
  min-height: 85vh;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bold {
  font-weight: $weight-bold;
}
