/* COLORS */
$darkgrey: #626262;
$mediumgrey: #B1B1B3;
$grey: #EAEAEC;
$lightgrey: #F6F5F6;

$green: #80DEA9;
$darkgreen: #52D48C;
$red: #DB2338;
$white: #FFFFFF;
$lightblue: #f5f7fa;
$mediumblue: #e1e6ed;
$blue: #5C7394;
$darkblue: #30364D;

/* FONTS */
$main-font-color: $darkgrey;
$secondary-font-color: $mediumgrey;

$weight-normal: 400;
$weight-bold: 700;

$font-extra-small: .7rem;
$font-size-small: .9rem;
$font-size-normal: 1rem;
$font-size-medium: 1.1rem;
$font-size-large: 1.2rem;
$font-size-extra-large: 1.4rem;

/* MISC */

$gap: 20px;
$border-bold: 2px;
$border-light: 1px;
$border-color: $mediumgrey;
